.container {

}

.col {
	display: inline-block;
	vertical-align: top;
}

.l3 {
	width: 33.33333%;
}

.l2 {
	width: 50%;
}

.l1 {
	width: 50%;
}

@media only screen and (max-width: 780px) {

	.m2 {
		width: 50%;
	}

	.m1 {
		width: 100%;
	}

}

@media only screen and (max-width: 480px) {

	.s1 {
		width: 100%;
	}

}