html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* quick find variables, because I don't want to set up static site generator /////

light pink: 	#F3E4E4;
black:			#000000;
medium grey:	#4D4D4D;
light grey:		#B3B3B3;
light green:	#A0CAA9;

header: 		'Playfair Display', serif
body: 			'Muli', sans-serif;

*/

body {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
}

@media only screen and (max-width: 700px) {

	body {
		font-size: 16px;
	}

}

.display, h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
}

.display {
	font-size: 5.5em;
	line-height: 0.9em;
}

h1 {
 	font-size: 2.4em;
 	margin-bottom: 30px;
 	line-height: 1.2em;
}

h2 {
	text-transform: uppercase;
	font-size: 1em;
	color: #B3B3B3;
	padding-top: 15px;
	padding-right: 30px;
}

h2.no-top-padding {
	padding-top: 4px;
}

h3 {
	font-weight: 800;
	margin: 30px 0 5px 0;
}

a {
	text-decoration: underline;
	color: #12af92;
}

a:hover {
	color: #000000;
}

a:visited {
	color: auto;
}

p {
	line-height: 1.45em;
	margin-bottom: 10px;
	font-weight: 400;
	color: #2b2b2b;
}


header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}

#menu {
	padding-left: 9%;
	position: relative;
	z-index: 100;
}

#menu li {
	display: inline-block;
}

#menu li a {
	text-decoration: none;
	color: #4D4D4D;
	transition: color 0.1s;
	line-height: 60px;
	padding: 0 20px;
	font-size: 0.9em;
	font-style: italic;
}

#menu li a:hover {
	color: #000000;
	text-decoration: underline;
}

#rsvp {
	background: #000000;
	color: #ffffff;
	border-radius: 4px;
	line-height: 40px !important;
	color: #ffffff !important;
	padding: 0 25px !important;
	margin-left: 20px;
	display: inline-block;
	box-shadow: none;
}


@media only screen and (max-width: 700px) {
	#rsvp {
		margin: 20px auto;
		text-align: center;
		width: 60%;
	}
	
	#rsvp:hover {
		color: #ffffff !important;
	}
		
	.button:hover {
		box-shadow: none !important;
	}
}

.rsvp-button {
	height: 120px;
	width: 120px;
	line-height: 120px;
	border-radius: 120px;
	display: inline-block;
	background: #000000;
	color: #ffffff;
	font-size: 1.4em;
	margin-bottom: 150px;
	margin-top: 25px;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
}

.button {
	cursor: pointer;
	transition: box-shadow 0.1s;
}

.button:hover {
	box-shadow: 0px 1px 10px 0px #3a3a3acc !important;
	text-decoration: none !important;
	color: #ffffff !important;
}

#mobile-menu-trigger {
	display: none;
	height: 0px;
}

#logo {
	position: absolute;
    height: 46px;
    width: 45px;
    top: 10px;
    left: 20px;
    opacity: 0.2;
    background: url(img/jk.png);
    background-size: 100%;
}

footer h1 {
	padding-top: 150px;
}


@media only screen and (max-width: 1000px) {

	#menu li a {
		padding: 0 15px;
	}
}

@media only screen and (max-width: 700px) {
	.display {
		font-size: 4em;
	}

	h1 {
		font-size: 2em;
		margin-bottom: 15px;
	}

	/* mobile menu */

	#mobile-menu-trigger {
		color: #4D4D4D;
		background: url(img/menu-icon.png) no-repeat;
		background-size: 40px 40px;
		background-position: 50%;
		text-transform: uppercase;
		line-height: 40px;
		width: 60px;
		height: 60px;
		z-index: 200;
		display: inline-block;
	}

	#logo {
		display: none;
	}

	#menu {
		top: 0px;
		margin-top: -60px;
		padding: 15px 0 20px;
		background: #F3E4E4;
	}

	ul li {
		display: block !important;
		padding: 0px !important;
	}

	#menu li a {
		height: 40px;
		line-height: 40px;
		font-size: 1.3em !important;
		padding: 5px 60px;
		display: block;
	}

	#menu.closed {
		height: 0px;
		overflow: hidden;
		width: 40px;
		padding: 0px;
	}

	#menu li a {
		color: #000000;
	}

	#menu li a:hover {
		color: #4D4D4D !important;
	}
}
